@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100%;
}

p {
    font-size: 0.8em;  
}

error {
    color: #ff4e4e;
    font-size: 0.8em;
    gap: 0.5vw;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 2;
}

#error-container-overlay {
    opacity: 1;
}

.password-error-container {
    display: none;
}

#senhas-invalidas-row {
    width: 100%;
    display: flex;
    gap: 2%;
}

#senhas-invalidas-row-1 {
    opacity: 0;
}

#senhas-invalidas-row-2 {
    opacity: 0;
}

#senhas-invalidas-row .error-container-row{
    width: 50%;
}


error :nth-of-type(2) {
    top: 0;
}

error img {
    width: 15px;
}



texto2 {
    display: inline-block;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.2vw;
}

texto1 {
    display: inline-block;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

.btn {
    border: 0;
    outline: 0;
    padding: 0.6em 1em;
    background-color: #1F1F1F;
    font-size: 1.45em;
    color: #ffffff;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 1em 0;
}

#topo {
    height: 10vh;
    background-color: #1F1F1F;
}


#content-container {
    width: 100%;
    height: 90%;
}

#content-1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.aside-dinamic-form {
    width: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Parte 1: Card*/
.content-div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#texto {
    width: 60%;
    margin-bottom: 10%;
}

#card-container {
    width: 35vw;
    height: 35vw;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.icon-user {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}

.icon-campo-focusout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#card-info-container {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-info-digitada {
    height: 3vh;
    word-break: break-all;
    font-size: 1.45em;
}

.nome{
    display: inline-block;
}

#text-container1 {
    text-align: center;
}

#text-container1 p {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

/*==========================================================================================================*/

/* Parte 2: cadastrar dados pessoais */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#content-container #content-1 .content-div:nth-child(2) .container p {
    width: 80%;
}

.form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside-dinamic-form .form {
    gap: 2em;
}

.form p, .form a {
    width: 100%;
}


#inline {
    display: inline !important;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    gap: 6vh;
    width: 100%;
}

.form-group input {
    width: 100%;
    border: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #1F1F1F;
    font-size: 1.3em;
}

.form-group label {
    cursor: text;
    width: 100%;
    color: #1F1F1F;
    background-color: #ffffff;
    /*
    position: absolute;
    top: -25%;
    left: 5%;
    */
    transition: 270ms linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
}

.form-group input:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}

.form-group input:focus ~ label {
    position: absolute;
    top: -0.5em;
    color: #000000;
    font-size: 1em;
}

.form-group input:valid ~ label {
    top: -0.5em;
    color: #000000;
    font-size: 1em;
}

#error-container1 {
    display: none;
}

#possuiConta {
    font-size: 1.2em;
    display: none;
    padding-bottom: 1em;
}

#termos {
    font-size: 1.2em;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Cadastro: parte das credenciais */
#content-2{
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: 0;
    height: 90%;
}

#content-2 texto1 {
    margin-top: 1em;
}

#content-2 .content-div {
    display: flex;
    gap: 2em;
}



.container {
    display: flex;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: visible;
}

#form-credentials {
    
}

#form-group-password {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2%;
    margin-top: 2em;
    
}


/* Form Credenciais */

#texto2 {
    width: 70%;
    text-align: center;
    margin-bottom: 2em;
    
}

.back-button-container {
    margin: 2vw 2vw 0vw 2vw;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
}


.back-button {
    cursor: pointer;
    width: 4%;
    min-width: 40px;
}

.esconder {
   display: none !important;
   background-color: aqua !important;
}

#error-container2 {
    opacity: 0;
    margin: 1vh 0;
}

#send2 {
    width: 50vw;
    margin-top: -1vw;
    margin-bottom: 5vh;
}

#requirements-align {
    width: 100%;
}

#requirements-container {
    transition: 2s linear;
}

#confirmarSenhaContainer {
    margin-top: -5%;
}

.confirmarSenhaContainerBaixo {
    margin-top: 0;
}

#requirements-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    font-size: 1.3em;
}

.requirements {
    display: flex;
    gap: 1vw;
    align-items: center;
    font-size: 1em;
}

.check-passsword-icon {
    width: 1.5em;
}


/* Página de Verificação de Email */


.text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    width: 100%;
    margin: 1em 0;
}

.text-container p {
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 3vh;
}

#content-3 {
    position: absolute;
    z-index: 2;
    top: 10vh;
    width: 100%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#send3, #send4 {
    padding: 0.6em 1.5em;
    background-color: #1F1F1F;
    font-size: 1.45em;
}

#container-figure {
    width: 500px;
    height: 500px;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container-loupe {
    width: 30vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
}

#border-loupe {
    width: 80%;
    height: 80%;
    background-color: #1F1F1F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#internal-circle-loupe {
    width: 75%;
    height: 75%;
    border: 0.8em solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-box-loupe {
    width: 60%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.email-bar-loupe {
    width: 50%;
    height: 10%;
    background-color: #1F1F1F;
    margin-top: 3vh;
}

.email-bar-loupe:nth-child(1)  {
    transform: rotate(215deg);
    display: flex;
    justify-content: end;
    margin-right: -7.25%;
    
}
.email-bar-loupe:nth-child(2) {
    background-color: #1F1F1F;
    transform: rotate(-215deg);
    margin-left: -7.25%;

}

.email-bar-circle-loupe {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #1F1F1F;
}

.email-bar-loupe:nth-child(1) .email-bar-circle-loupe {
    transform: translateX(50%);
}

.email-bar-loupe:nth-child(2) .email-bar-circle-loupe {
    transform: translateX(-50%);
}

#hadle-loupe {
    width: 35%;
    height: 10%;
    background-color: #1F1F1F;
    position: absolute;
    z-index: 0;
    bottom: 5vh;
    right: 0;
    transform: rotate(45deg);
    display: flex;
    justify-content: end;
    animation: rotateHandle linear 6s infinite;
}

#handle-circle-loupe {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #1F1F1F;
    transform: translateX(50%);
}

#email-enviar-alterar-container {
    text-align: center;
}

#titulo-tela-4 {
    width: 100%;
    text-align: center;
}

#titulo-tela-4 texto1 {
    width: 80%;
}



#verification-code-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.verification-code-input {
    margin-top: 5%;
    width: 10%;
    height: 16vh;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
    background-color: rgb(252, 252, 252);
    text-align: center;
    font-size: 2em;
}

#alter-email {
    width: 100%;
    text-align: left;
}

#alter-email p {
    padding-left: 7vw;
}

.replace-to-email {
    color: blue;
}

/* Tela de Teste */

#content-4 {
    background-color: #fff;
    position: absolute;
    z-index: 3;
    height: 90%;
    top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

#reenviarCodigo {
    display: none;
}

#content-5 {
    background-color: #fff;
    height: 90%;
    top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 8vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}

#content-5 texto1 {
    width: 100%;
    font-size: 4em;
}

.emoji-smile-container {
    width: 100%;
    height: 29vw;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.emoji-smile-border {
    width: 100%;
    height: 100%;
    border: 1.5vw solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.emoji-smile-content-face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emoji-smile-eyes-container {
    width: 62.4%;
    height: 7.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoji-smile-eye {
    width: 3.9vw;
    height: 3.9vw;
    background-color: #000;
    border-radius: 50%;
}

.emoji-smile-mouth {
    width: 62.4%;
    height: 11.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emoji-smile-mouth-row {
    width: 17vw;
    height: 1.17vw;
    background-color: #000;
}

.emoji-smile-mouth-circle-container {
    width: 17vw;
    height: 7.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

.emoji-smile-mouth-circle {
    width: 100%;
    height: 15.6vw;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: -105%;
}

.column-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-align div{
    width: 32vw;
    text-align: center;
}

#send5 {
    margin: 20vh 0 2vh 0;
    padding: 2vw 5vw;
}

#send5-container {
    width: 100%;
}

#tela-5-emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


@keyframes rotateHandle {
    0% {
        right: 0;
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(90deg);
    }
    
    50% {
        /*
        right: 65%;
        transform: rotate(-225deg);
        */
        right: 65%;
        transform: rotate(135deg);

    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        /*
        right: 0;
        transform: rotate(45deg);
        */
        right: 0;
        transform: rotate(45deg);

    }
}

@keyframes preserveFigure {
    0% {
        transform: rotate(-10deg);
     }
     
     50% {
         transform: rotate(-110deg);
     }
 
     100% {
         transform: rotate(-10deg);
     }
}

/* ================ Media Queries ================ */

/* Layout Mobile */

@media screen and (max-width: 768px){

    .content-div:first-child { 
        display: none;
    }

    .aside-dinamic-form, .content-div:last-child {
        width: 100%;
    }

    .text-container p {
        text-align: left;
    }

    .form {
        margin: em 0;
    }

    #termos {
        margin-bottom: 0.5em
    }

    #possuiConta {
        display: block;
    }

    .back-button-container {
        top: 2.5vh;
    }

    #content-2 texto1 {
        font-size: 2.3em;
        margin-top: 2em;
    }

    .error-container-row {
        display: none;
    }

    #form-group-password {
        flex-direction: column;
    }

    #confirmarSenhaContainer {
        margin-top: 4vh;
    }

    .password-error-container {
        display: flex !important;
    }

    #senhas-invalidas-column-2 {
        margin-bottom: 4vh;
    }

    .requirements {
        font-size: 0.8em;
    }

    .check-passsword-icon {
        width: 2em;
        margin-right: 1em;
    }

}



    /* Parte 2: Formulário Dados Pessoais */

    /*
    #content-container #content-1 .content-div:nth-child(2) .container p {
        font-size: 2vh;
    }

    #content-container #content-1 .content-div:nth-child(2) .container #termos {
        width: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }
    
    #content-container #content-1 .content-div, #content-2 {
        width: 100%;
    }

    #content-2 .form{
        width: 95%;
    }

    #content-2 #form-dadosPessoais #form-group-password {
        flex-direction: column;
        gap: 9vw;
    }

    .aside-dinamic-form .form-group input:focus ~ label {
        position: absolute;
        top: -30%;
        color: #000000;
        font-size: 2vh;
    }
    
    .aside-dinamic-form .form-group input:valid ~ label {
        top: -30%;
        color: #000000;
        font-size: 2vh;
    }

    #error-container1 {
        margin-bottom: 3%;
    }


    .content-div:nth-child(2) .form-group input {
        
    }

    .form {
        position: relative;
        width: 90%;
        margin: 3% 0;
    }

    .password-error-container {
        display: block;
        opacity: 0;
    }
    
    password-error-container {
        display: block;
    }

    #senhas-invalidas-row .error-container-row:first-child {
        display: none;
    }
    
    #senhas-invalidas-row .error-container-row:last-child {
        display: none;
    }

    .content-div:nth-child(2) #possuiConta {
        display: block;
        padding-bottom: 5vh;
    }

    .content-div :nth-child(2) span, #card-container {
        display: none;
    }

    #send3 {
        margin-top: 12vh;
    }

    #content-4 texto1 {
        width: 80%;
    }
}

@media screen and (max-width: 480px){ 
    texto1 {
        font-size: 2em;
    }
    

    .btn {
        padding: 2.5vw 8vw !important;
    }

    .back-button-container {
        position: relative;
        width: 95%;
        margin-top: -3vh;
        margin-left: -8vw;
    }

    #content-3 .back-button-container {
        margin-top: -13vh !important;

    }
    

    .back-button {
        min-width: 0;
        width: 10%;
    }

    #content-2 #form-dadosPessoais {
        gap: 4vh;
    }
    
    #content-2 #form-dadosPessoais #confirmarSenhaContainer {
        margin-top: -1vh;
    }

}

@media all and (max-width: 700px) {

    #texto2 texto1 {
        width: 100%;
        font-size: 1.7em;
    }

    #error-img-1 {
        margin-left: 1vw;
        margin-right: 10px;
    }

    .check-passsword-icon {
        margin-right: 10px;
    }

    #text-container3 p {
        width: 75%;
    }

    .back-button-container {
        margin-left: -4vw;
    }

    #content-3 .back-button-container {
        margin-top: -3vh;

    }

    #container-figure {
        width: 32vw;
        height: 32vw !important;
        background-color: #1F1F1F;
    }
    
    #figure-border {
        width: 26.8vw;
        height: 26.8vw;
        border: 0.858vw solid #fff;
    }
    
    #figure-content-space {
        width: 17.15vw;
        height: 13.95vw;
        border-radius: 2.68vw;
    }
    
    #figure-design-bar {
        width: 100%;
    }
    
    #figure-design-bar-container {
        gap: 6.11vw;
    }
    
    .figure-design-retangle {
        width: 0.858vw;
        height: 8.576vw;
    }

    
    .figure-design-circle {
        width: 0.858vw;
        height: 0.858vw;
    }
    
    #handle-container {
        width: 10.672vw;
        height: 3.2vw;
        bottom: 8vw;
    }
    
    #handle-container .figure-design-retangle {
        width: 16.08vw;
        height: 3.2vw;
    }
    
    #handle-container .figure-design-circle {
        width: 3.2vw;
        height: 3.2vw;
    }

    #content-5 {
        background-color: #fff;
        height: 90%;
        top: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;
    }

    .column-align {
        height: 100%;
        gap: 30vh;
    }

    #titulo-tela-5 {
        width: 100%;
        text-align: center;
    }
    
    #titulo-tela-5 texto1 {
        width: 100%;
        
    }
   
    #tela-5-emoji-container {
        position: absolute;
        top: 64%;
        transform: translateY(-50%);
    }

    .emoji-smile-mouth-row {
        margin-bottom: -0.2vh;
    }
    

}

@media all and (max-width: 400px) {



    #tela-5-emoji-container {
        transform: scale(2);
        top: 52%;
    }

    #titulo-tela-5 texto1 {
        font-size: 2.5em;
    }
   
}
*/

